body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

#page-wrapper {
    display: flex;
    flex-direction: column; /* Хедер, контент, футер */
    height: 100vh; /* Занимает всю высоту экрана */
}

#add-dish-section {
    flex: 1; /* Растягиваем контент по высоте */
    display: flex;
    justify-content: center; /* Центрируем форму по горизонтали */
    align-items: center; /* Центрируем форму по вертикали */
}

.form-container {
    width: 100%;
    max-width: 600px; /* Ограничиваем ширину формы */
    padding: 20px;
    background-color: #f8f9fa; /* Светлый фон для формы */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Лёгкая тень для формы */
    border-radius: 10px; /* Закруглённые углы */
}